body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* overflow: hidden; */
}

html body #root {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  font-size: calc(7px + 0.5vw);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root::-webkit-scrollbar-track, #table::-webkit-scrollbar-track,
#containerPage::-webkit-scrollbar-track, #popupContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#root::-webkit-scrollbar, #containerPage::-webkit-scrollbar, #popupContainer::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
}

#root::-webkit-scrollbar-thumb, #table::-webkit-scrollbar-thumb,
#containerPage::-webkit-scrollbar-thumb, #popupContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
                                       left bottom,
                                       left top,
                                       color-stop(0.44, rgb(150, 150, 150)),
                                       color-stop(0.72, rgb(120, 120, 120)),
                                       color-stop(0.86, rgb(90, 90, 90)));
}