.containerPage {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* justify-content: center; */
    /* align-items: center; */
    min-width: fit-content;
    font-size: 1em;
    /* background-image: linear-gradient(90deg,#eaeaea 16% 160px,#f4f3ef 0); */
    overflow: auto;
    overflow-x: hidden;
    background-color: #f7f7f7;
}