.receptionPopup {
    width: 70%;
    height: 70%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    min-width: fit-content;
    min-height: 270px;
    margin: 10px;
}