.filters {
    display: flex;
    width: max-content;
    white-space: nowrap;

    &__filter {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            font-size: 1.3em;
            font-weight: bold;
            margin-bottom: 1em;
        }

        &__date {
            @include flex(space-evenly);
            flex-direction: column;
            height: 80%;
        }
    }
}