$colors: (
    scrollbar:(
        10: hsl(0, 0%, 96%),
        20: hsla(0, 0%, 0%, 0.3),
        30: hsl(0, 0%, 59%),
        40: hsl(0, 0%, 47%),
        50: hsl(0, 0%, 35%)
    ),
    button:(
        10: hsl(0, 0%, 94%),
        20: hsl(0, 0%, 46%)
    )
);