@mixin size($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

@mixin flex($justify: safe center, $align: safe center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin scrollbar($width: 10px, $height: 10px) {
    overflow: auto;
    &::-webkit-scrollbar {
        width: $width;
        height: $height;
        background-color: var(--clr-scrollbar-10);
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px var(--clr-scrollbar-20);
        background-color: var(--clr-scrollbar-10);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-image: linear-gradient(0deg, 
                                            var(--clr-scrollbar-30) 20%, 
                                            var(--clr-scrollbar-40) 50%, 
                                            var(--clr-scrollbar-50) 80%);
    }
}

@mixin btn($width:fit-content, $padding:5px 10px ) {
    @include flex();
    width: $width;
    cursor: pointer;
    background-color: var(--clr-button-10);
    border: 1px solid var(--clr-button-20);
    border-radius: 5px;
    padding: $padding;
    outline: none;
    font-size: 1em;
}

@mixin gradient-border-box {
    border: solid 1px transparent;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #212133, #181546), linear-gradient(to right, #AAAAA9, #F0F1F1);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

@mixin wrap-word {
    white-space: pre-wrap;       
    word-wrap: break-word;       
    word-break: break-all;
}

@mixin text-fadeIn($time: 2s) {
    animation: fadein $time;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}